<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/js/script.js"></script>
</head>

<body>
    <h2>Entre</h2>
    <form method="post" id="loginForm">
        <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" name="email" />
            <label class="form-label" for="email">Email</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="senha" class="form-control" name="senha" />
            <label class="form-label" for="senha">Senha</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>

</body>

</html>