<div class="container text-center customForm">
    <form method="POST" action="/questionario/criarNovoQuestionario">
        <div class="form-group mx-auto">
            <h3>Criar Novo Questionario</h3>
            <div class="form-row justify-content-center mt-5">
                <div class="col-md-2 text-right mt-2">
                    <label for="nomeQuestionario">Nome do Questionario</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="nomeQuestionario" name="nomeQuestionario" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta01">Pergunta 01</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta01" name="pergunta01" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2 ">
                    <label for="pergunta02">Pergunta 02</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta02" name="pergunta02" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta03">Pergunta 03</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta03" name="pergunta03" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta04">Pergunta 04</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta04" name="pergunta04" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta05">Pergunta 05</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta05" name="pergunta05" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta06">Pergunta 06</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta06" name="pergunta06" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta07">Pergunta 07</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta07" name="pergunta07" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="pergunta08">Pergunta 08</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="pergunta08" name="pergunta08" class="form-control" required>
                </div>
            </div>
            <br>
            <input type="submit" value="Criar" class="btn btn-primary">
        </div>
    </form>
</div>