<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatiza CPA</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav id="navbar" class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/planilha/importarPlanilha">Importar planilha</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>