.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3d3c3b;
    color: #dde3ca;
    /* cor do texto */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #dde3ca;
    text-align: center;
}

.menu li a:hover {
    background-color: #111;
}


.form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f2f2f2;

}

.form h3 {
    font-size: 5vh;
}

.button_submit {
    position: relative;
    background-color: #487aa1;
    border-radius: 5px;
    box-shadow: #405c7a 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button_submit:hover {
    background-color: #405c7a;
    box-shadow: #487aa1 0px 4px 0px 0px;
}

input[type="file"] {
    display: none;
}

.div_input_file {
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.div_input_file span {
    margin-right: 15px;
    font-size: 25px;
}

.label_planilha_nome {
    display: block;
    font-size: 20px;
}

.label_input_file {
    padding: 10px;
    width: 100px;
    background-color: #333;
    color: #FFF;
    font-size: 25px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    display: flex;
    justify-content: space-between;
}

.expandable ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 45%;
}

.expandable ul li {
    margin-bottom: 10px;
}

.expandable.expanded {
    max-height: 700px;
    display: flex;
    justify-content: space-between;
    /* Ajuste este valor de acordo com o conteúdo */
}

.div_card_expandido {
    border-color: black;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 30px;
}

.div-card-1 {
    margin-top: 20px;
    padding: 10px;
}

.div-card-1 h2 {
    padding-bottom: 15px;
}

.container-info {
    justify-content: center;
    border-radius: 25px;
    background-color: #b2d9f7;
}

.navbar-style {
    background-color: #487aa1;
    color: white !important;
}

#chat-window {
    max-height: 400px;
    /* Define a altura máxima da área de chat */
    overflow-y: auto;
    /* Adiciona rolagem vertical quando necessário */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#messages {
    list-style-type: none;
    /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.message.user {
    background-color: #d1e7dd;
    align-self: flex-end;
    /* Alinha mensagens do usuário à direita */
    margin-left: auto;
}

.message.other {
    background-color: #f8d7da;
    align-self: flex-start;
    /* Alinha mensagens do outro usuário à esquerda */
    margin-right: auto;
}

#form {
    display: flex;
    margin-top: 10px;
}

#input {
    flex: 1;
    margin-right: 10px;
}

.inicio {
    padding-top: 20px;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.card-body {
    padding: 15px;
}

.table {
    margin-bottom: 0;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}

.colunaPergunta{
    white-space: nowrap;
    border-right: 2px solid #ccc;
}

.colunaPerguntaRelatorio{
    border-right: 2px solid #ccc;
}

.colunasHeader{
    background-color: #405c7a !important;
    color: white !important;
    font-weight: bold;
}

