<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="container text-center customForm">
        <h3>Seja bem vindo Professor!</h3>
    </div>
    <div class="container">
        <div class="d-flex justify-content-start mt-5" style="gap: 20px;">
            <div class="card" style="width: 18rem; background-color: #BEBEBE">
                <div class="card-body">
                    <h5 class="card-title">Visualizar Pesquisas Finalizadas</h5>
                    <p class="card-text">Aqui você poderá visualizar resultados de pesquisas de avaliação interna já finalizadas.</p>
                    <a href="/questionario/indexQuestionariosInativosProfessor" class="btn btn-primary">Visualizar</a>
                </div>
            </div>
            <!-- Segundo card ao lado -->
            <div class="card" style="width: 18rem; background-color: #BEBEBE">
                <div class="card-body">
                    <h5 class="card-title">Chat</h5>
                    <p class="card-text">Acesse o chat entre professor/coordenador</p>
                    <a href="/chat/indexProfessor" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>