<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="container text-center customForm">
        <h3>Seja bem vindo !</h3>
    </div>
    <div class="container">
        <div class="d-flex justify-content-start mt-5" style="gap: 20px;">
            <div class="card" style="width: 18rem; background-color: #BEBEBE">
                <div class="card-body">
                    <h5 class="card-title">Responder Pesquisa</h5>
                    <p class="card-text">Aqui você poderá responder pesquisas de avaliação interna que estão disponiveis.</p>
                    <a href="/questionario/indexQuestionariosNaoRespondidos/" class="btn btn-primary">Responder</a>
                </div>
            </div>
            <!-- Segundo card ao lado -->
            <div class="card" style="width: 18rem; background-color: #BEBEBE">
                <div class="card-body">
                    <h5 class="card-title">Segundo Card</h5>
                    <p class="card-text">Este é o segundo card, que aparece ao lado do primeiro usando o sistema flexbox
                        do Bootstrap.</p>
                    <a href="#" class="btn btn-secondary">Ação</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>