<form class="form" method="POST" action="/importar" enctype="multipart/form-data">
    <div class="form-control">
        <label>Selecione a planilha:</label>

        <input type="file" id="inputPlanilha" name="planilha">

        <input type="submit" value="Enviar">
    </div>
</form>