<form class="form" method="POST" action="planilha/importar">
    <div class="form-control">
        <label>Selecione a planilha:</label>
        
        <input type="file" id="inputPlanilha" name="planilha">
        
        <input type="submit" value="Enviar">
    </div>
</form>
