<div class="container text-center customForm">
    <form method="POST" action="/planilha/enviarPlanilha" enctype="multipart/form-data">
        <div class="form-group mx-auto">
            <h3>Importar Planilha de CPA</h3>
            <div class="custom-file">
                <label for="inputPlanilha" class="custom-file-label">Selecione a planilha</label>
                <input type="file" id="inputPlanilha" name="planilha" accept=".csv" class="custom-file-input" 
                    onchange="displayFileName()">
            </div>
            <label id="labelPlanilha" class="label_planilha_nome"></label>
            <br>
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
    </form>
</div>

<script>
    function displayFileName() {
        const input = document.getElementById('inputPlanilha');
        const label = document.getElementById('labelPlanilha');
        if (input.files && input.files.length > 0) {
            label.textContent = input.files[0].name;
        } else {
            label.textContent = 'Selecione a planilha:';
        }
    }
</script>