<div class="container text-center customForm">
    <form method="POST" action="/disciplina/cadastrarNovaDisciplina">
        <div class="form-group mx-auto">
            <h3>Cadastrar Nova Disciplina</h3>
            <div class="form-row justify-content-center mt-5">
                <div class="col-md-2 text-right mt-2">
                    <label for="nomeDisciplina">Nome da Disciplina</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="nomeDisciplina" name="nomeDisciplina" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="sigla">Código da Disciplina</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="siglaDisciplina" name="siglaDisciplina" class="form-control" required>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="departamento">Professor</label>
                </div>
                <div class="col-md-6">
                    <select name="professor" id="professor" class="form-control" required>
                        {{#each professores}}
                        <option value="{{this.professor_id}}">{{this.nome}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-row justify-content-center mt-3">
                <div class="col-md-2 text-right mt-2">
                    <label for="cursos">Selecione os cursos da qual a discplina pertence</label>
                </div>
                <div class="col-md-6">
                    <select name="cursos[]" id="cursos" class="form-control" multiple required>
                        {{#each cursos}}
                        <option value="{{this.curso_id}}">{{this.nome}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
    </form>
</div>